.blocosDeCarros{

  width: 100vw;
max-height: 600vmax;
display: flex;
margin: 5rem 0;
transition-duration: 0.5s;
}
.holderModel{
  width: 100%;
  transition-duration: 0.5s;
}
.conteudoGrupocarros{
  max-width: 788px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 1rem;
  transition-duration: 0.5s;
}
.conteudoGrupocarros h2{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
}
.conteudoGrupocarros legend{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 0 5rem;
  text-align: center;
}
.modelos{
  width: 236px;
  height: 350px;
  border: 1px solid #D5D5D5;
  padding: 16px;
  margin: 0 1rem 2rem;
  transition-duration: 0.5s;
  flex: 1 1;
}
.model img{

  max-width: 100%;
}
.model p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 2rem auto;
max-width: 322px;
}
.model button{
  color: #000000;
font-size: 14px;
text-align: center;
border: 1px solid #D5D5D5;
border-radius: 4px;
padding: 8px 55px;
font-family: Arial, Helvetica, sans-serif;
width: 199px;
}
.seguraModelos{

/*display: grid;
grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
grid-gap: 10px;*/

display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
transition-duration: 0.5s;
}

@media (min-width: 700px){

  .conteudoGrupocarros h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: start;
}
.conteudoGrupocarros legend{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 0 5rem;
  text-align: left;
}


}