header{
  width: 100vw;
}
.iconHouse, .local, .falar{
  text-decoration: none;
}
.barraCinza{

  width: 100%;
  background:#EEEEEE;
  height: auto;
  display: flex;
  padding: 1rem 0;
}

.grade{
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;  
}
.iconHouse, .local, .falar{
  display: flex;
  color: #999;
  font-size: 13px;
  height: 29px;
  align-items: center;
}
.seguraDois{
  display: flex;
  justify-content: space-between;
}
.local{
  margin: 0 2rem 0 0;
}
.falar{
  margin:0;
}

.iconHouse {
  margin: 0 2rem 0 0;
}
.barraBranca{

  min-height: 12vh;
  display: flex;
}
.gradeBarraBranca{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logoTopo{
  max-width: 200px;
  height: 51px;
  margin: 0;
}
.logoTopo>img{
max-width: 100%;
}
.contatobarraBranca{
  margin: 0 2rem 0 0;
  width: 215px;
  height: 70px;
  display: none;
}
.txtcentral{
  color: #999;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;  
  justify-content: center;
}
.fone{
  color: red;
font-size: 2.7rem;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
letter-spacing: 3px;
}
.iconHouse>span, .falar>span,.local>span{
  margin: 0 0.5rem 0 0;
  color: #d1d1d1;
}
.grade a legend{
  display: none;
}
.pq{
  display: none;
}
.gr{
  display: block;
}

@media (min-width:500px){

  .contatobarraBranca{
    margin: 0 2rem 0 0;
    width: 215px;
    height: 70px;
    display: block;
  }
  .gradeBarraBranca {
    justify-content: space-between;;
}
.logoTopo {
  margin: 0 0 0 2rem;
}
.grade a legend{
  display: block;
}
.barraCinza {
  
  height: 29px;

}
.pq{
  display: block;
}
.gr{
  display: none;
}
.grade{
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;  
}
.iconHouse{
  margin: 0 0 0 2rem;
 
}
.falar{
  margin:0 2rem 0 0;
}


}